@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,700&family=Hanuman:wght@100;400;900&family=Merriweather:wght@300;400;700;900&family=Prompt:wght@100;300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --yellow: #f9ca24;
}
* {
  font-family: "Bitter", serif;
  font-family: "Hanuman", serif;
  font-family: "Merriweather", serif;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  transition: all 0.2s linear;
}
*::selection {
  background: var(--yellow);
  color: #333;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: #111;
  overflow-x: hidden;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
.btn {
  padding: 0.7rem 3rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}
.btn:hover {
  background: var(--yellow);
}
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}
.heading span {
  color: var(--yellow);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)),
    url(/image/eth-art.jpg);
  /* background: #1a1a1a; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--yellow);
}
header .user .name {
  font-size: 3.5rem;
  color: #fff;
}
header .user .post {
  font-size: 2rem;
  color: #eee;
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  background: var(--yellow);
}
#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}
.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)),
    url(/image/ethiopian.jpg);
  display: flex;
  justify-content: center;

  flex-flow: column;
  padding: 0 15rem;
}
.home h3 {
  font-size: 2.5rem;
  color: #fff;
}
.home h1 {
  font-size: 5rem;
  color: #fff;
}
.home h1 span {
  color: transparent;
  -webkit-text-stroke: 1px var(--yellow);
  background: url(/image/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  /* color: var(--yellow); */
}
.home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2rem;
  color: var(--yellow);
  padding: 1rem 0;
  font-weight: normal;
}
.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}
.about .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box {
  width: 20rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.about .row .counter .box span {
  color: var(--yellow);
  font-size: 4rem;
}
.about .row .counter .box h3 {
  color: #fff;
  font-size: 2rem;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}
.education .box-container .box div {
  display: flex;
  align-items: center;
}
.education .box-container .box i {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  /* background: white; */
  color: #fff;
  background: var(--yellow);
}
.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box:hover img {
  transform: scale(1.2);
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .form-group {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}
#label {
  display: block;
  color: var(--yellow);
}
.form-group input,
.form-group textarea {
  background-color: #3333;
  font-size: 20px;
}
input,
select,
textarea {
  color: var(--yellow);
}
.form-group input {
  width: 820px;
  height: 50px;
  border: 1px solid #3333;
}
.form-group textarea {
  border: 1px solid #3333;
}

.contact .row form .form-group::placeholder {
  color: var(--yellow);
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.contact .row .content .title span {
  color: var(--yellow);
  width: 50px;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}
.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--yellow);
}
#status i {
  color: #004206;
  animation: status 4s ease forwards;
}
#status i {
  color: #ff0800;
  animation: status 4s ease forwards;
}

#sm a {
  color: var(--yellow);
}
#sm a i {
  margin-left: 15px;
}
.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* bottom: 10px; */
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}
@media (max-width: 991px) {
  header {
    left: -120%;
  }
  #menu {
    display: block;
  }
  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about .row .counter.box {
    width: 100%;
  }
  .education .box-container .box {
    width: 100%;
  }
  .portfolio .box-container .box {
    width: 100%;
  }
  .contact .row form {
    margin: 3rem 0;
  }
}
@keyframes right {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 4s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 9s;
  width: 25px;
}
.bubbles img:nth-child(3) {
  animation-delay: 1.5s;
  width: 20px;
}
.bubbles img:nth-child(4) {
  animation-delay: 7s;
  width: 3px;
}
.bubbles img:nth-child(5) {
  animation-delay: 3.5s;
  width: 20px;
}
.bubbles img:nth-child(6) {
  animation-delay: 5s;
}
.bubbles img:nth-child(7) {
  animation-delay: 0.5s;
  width: 10px;
}
.bubbles img:nth-child(8) {
  animation-delay: 10s;
}
.bubbles img:nth-child(9) {
  animation-delay: 11s;
  width: 4.5px;
}
.bubbles img:nth-child(10) {
  animation-delay: 6s;
}
.bubbles img:nth-child(11) {
  animation-delay: 7s;
}
.bubbles img:nth-child(12) {
  animation-delay: 1s;
  width: 10px;
}
.bubbles img:nth-child(13) {
  animation-delay: 4s;
  width: 15px;
}
.bubbles img:nth-child(14) {
  animation-delay: 9s;
  width: 20px;
}
.bubbles img:nth-child(15) {
  animation-delay: 0.2s;
  width: 10px;
}
.bubbles img:nth-child(16) {
  animation-delay: 2.9s;
  width: 22px;
}
.bubbles img:nth-child(17) {
  animation-delay: 1.7s;
  width: 10px;
}
.bubbles img:nth-child(17) {
  animation-delay: 20s;
  width: 60px;
}
.bubbles img:nth-child(18) {
  animation-delay: 30s;
  width: 6.5px;
}
.bubbles img:nth-child(19) {
  animation-delay: 22s;
  width: 15px;
}
.bubbles img:nth-child(20) {
  animation-delay: 1s;
}

.bubbles img:nth-child(21) {
  animation-delay: 9s;
  width: 8px;
}
.bubbles img:nth-child(22) {
  animation-delay: 1s;
  width: 12px;
}
.bubbles img:nth-child(23) {
  animation-delay: 1s;
}
.bubbles img:nth-child(24) {
  animation-delay: 19s;
  width: 1.5px;
}
.bubbles img:nth-child(25) {
  animation-delay: 1s;
  width: 15px;
}
.bubbles img:nth-child(26) {
  animation-delay: 0.5s;
}
.bubbles img:nth-child(27) {
  animation-delay: 0.2s;
}
.bubbles img:nth-child(28) {
  animation-delay: 27s;
  width: 25px;
}
.bubbles img:nth-child(29) {
  animation-delay: 0.55s;
  width: 1px;
}
.bubbles img:nth-child(30) {
  animation-delay: 1s;
  width: 10px;
}
.bubbles img:nth-child(31) {
  animation-delay: 0.67s;
  width: 15px;
}
.bubbles img:nth-child(32) {
  animation-delay: 1s;
  width: 23px;
}
.bubbles img:nth-child(33) {
  animation-delay: 35s;
  width: 25px;
}
.bubbles img:nth-child(34) {
  animation-delay: 1s;
  width: 6px;
}
